*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(202,210,197,255);
}



.navbar{
    
    background-color:rgba(47,61,70,255);
    
}

i{
    font-size: 42px;
    color: white;
    margin: 0 20px;
    padding: 22px 0;
    
}
.navbar,h2{
        color: white;   
        font-family:Arial, Helvetica, sans-serif;
        font-size: 18px;  
        max-height: 100px;    
}

.container{
    display: flex;
    flex-direction: column;
}
.name{
   margin-left: 700px;
   margin-top: -40px;
   padding-bottom: 60px;
}

.one{
    height: 500px;
    width: 300px;
    /* border: 5px solid rgb(50, 81, 5); */
      border-radius: 15px;
    margin: 40px;
    margin-left: 60px;
    background-color: rgba(53,53,53,255);
   
}
.two{
    height: 60px;
    width: 550px;
    border: 5px solid rgb(50, 81, 5);
    border-radius: 15px;
    background-color: rgba(53,53,53,255);
    order: 0;
    margin-top: -550px;
    margin-left: 650px;
   
}
.two,h4{
    font-size: 28px;
    color: aliceblue;
    padding: 5px;
    
}
.three{
    height: 120px;
    width: 210px;
    border: 5px solid rgb(50, 81, 5);
    background-color: rgba(53,53,53,255);
    border-radius: 15px;
    order: 1;
    margin-left: 530px;
    margin-top: 50px;
}
.four{
    height: 120px;
    width: 210px;
    border: 5px solid rgb(50, 81, 5);
    order: 2;
    margin-left: 800px;
    margin-top: -115px;
    background-color: rgba(53,53,53,255);
    border-radius: 15px;
}
.five{
    height: 120px;
    width: 210px;
    order: 3;
    border: 5px solid rgb(50, 81, 5);
    margin-top: -118px;
    margin-left: 1080px;
    background-color: rgba(53,53,53,255);
    border-radius: 15px;

}
.six{
    height: 120px;
    width: 650px;
    order: 5;
    border: 5px solid rgb(50, 81, 5);
    margin-left: 570px;
    margin-top: 50px;
    background-color: rgba(53,53,53,255);
    border-radius: 15px;
}